img[alt="Logo"]{
    width: 3rem;
}

body{
    background-image: url(https://i.postimg.cc/TYbFhM5M/wallpaperflare-com-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: auto;
}


.box{
    width: 20rem;
    object-fit: contain;
    aspect-ratio: 3 / 2;
    margin: 0.5rem;
    
}

.java {
    display: flex;
    margin: 2rem;
    margin-top: 10rem;
}